<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bolder text-dark">Đợt làm đồ án</h3>
  </div>

  <div class="card-body pt-0">
    <div class="mt-4">
      <div class="search-container mt-4">
        <div class="d-flex">
          <div class="select-box me-2 mb-2">
            <select class="form-control custom-width">
              <option value="" disabled selected>Đợt đồ án</option>
            </select>
            <i class="bi bi-chevron-down select-arrow"></i>
          </div>
        </div>
      </div>

      <div class="card defense-1 mb-4">
        <div class="card-header align-items-center">
          <h3 class="mb-0">Danh sách giáo viên phản biện</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped mt-3 custom-bordered">
            <thead class="custom-header">
              <tr>
                <th style="text-align: center">STT</th>
                <th>Giáo viên phản biện</th>
                <th>Mã giảng viên</th>
                <th>Tên giảng viên</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th>Lịch phản biện</th>
                <th>Tác vụ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center">1</td>
                <td>Giáo viên phản biện 1</td>
                <td>1223</td>
                <td>Lê Trung Hiếu</td>
                <td>hieutrunglegmail.com</td>
                <td>30/05/2025</td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="pagination-container mt-3">
            <!-- <ngb-pagination
              [collectionSize]="filteredData.length"
              [pageSize]="pageSize"
              (pageChange)="onPageChange($event)"
            ></ngb-pagination> -->
          </div>
        </div>
      </div>

      <div class="card defense-2 mb-4">
        <div class="card-header align-items-center">
          <h3 class="mb-0">Hội đồng bảo vệ: Hội đồng 2 - DH206 - 09:00 30/06/2025</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped mt-3 custom-bordered">
            <thead class="custom-header">
              <tr>
                <th style="text-align: center">STT</th>
                <th>Mã giảng viên</th>
                <th>Tên giảng viên</th>
                <th>Bộ môn</th>
                <th>Nhiệm vụ</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center">1</td>
                <td>1223</td>
                <td>Lê Trung Hiếu</td>
                <td>Công nghệ phần mềm</td>
                <td>
                  Chủ tịch hội đồng
                </td>
              </tr>
            </tbody>
          </table>

          <div class="pagination-container mt-3">
            <!-- <ngb-pagination
              [collectionSize]="filteredData.length"
              [pageSize]="pageSize"
              (pageChange)="onPageChange($event)"
            ></ngb-pagination> -->
          </div>
        </div>
      </div>
    </div>

    <div class="pagination-container mt-3">
      <!-- <ngb-pagination
        [collectionSize]="filteredData.length"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination> -->
    </div>
  </div>
</div>


<p-toast />
