<div class="card">
  <!-- Tiêu đề trang -->
  <div class="card-header">
    <h3 class="card-title">
      <h1>Danh sách người dùng hệ thống</h1>
    </h3>
  </div>

  <!-- Bộ lọc và nút Tạo -->
  <div class="card-body pt-0">
    <div class="mt-4">
      <div class="search-container mt-4 row-container" style="width: 400px;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm dữ liệu..."
                 [(ngModel)]="searchTerm" (keyup.enter)="onSearch()"/>
          <span class="input-group-text" (click)="onSearch()" style="cursor: pointer;">
            <i class="bi bi-search"></i> <!-- Biểu tượng kính lúp -->
          </span>
        </div>
      </div>
      <div style="text-align: center; margin-top: 100px; " *ngIf="userDTOS.length === 0"> Không có dữ liệu</div>
      <table *ngIf="userDTOS.length >0" class="table table-striped mt-3 custom-bordered">
        <thead class="custom-header">
        <tr>
          <th>STT</th>
          <th>Họ và tên</th>
          <th>CID</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Trạng thái</th>
          <th>Loại</th>
          <th>Thao tác</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of userDTOS; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ item.full_name }}</td>
          <td>{{ item.customerId }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.phoneNumber }}</td>
          <td>
            <ng-container [ngSwitch]="item.status_active">
              <span *ngSwitchCase="false">Khóa</span>
              <span *ngSwitchCase="true">Kích hoạt</span>
              <!--              <span *ngSwitchDefault>Trạng thái không xác định</span>-->
            </ng-container>
          </td>
          <td>
            <ng-container [ngSwitch]="item.group_id">
              <span *ngSwitchCase="1">Người mua</span>
              <span *ngSwitchCase="2">Người bán</span>
              <span *ngSwitchCase="3">Quản trị</span>
              <span *ngSwitchDefault>Khách hàng</span>
            </ng-container>
          </td>

          <td>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="customSwitch1"
                [(ngModel)]="item.status_active"
                (change)="onToggleChange(item)"
              />
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="pagination-container mt-3 d-flex justify-content-end">
        <div class="pagination-container mt-3">
          <ngb-pagination
            [(page)]="currentPage"
            [pageSize]="pageSize"
            (pageChange)="onPageChange($event)"
            [collectionSize]="totalRecords"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast/>
