<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bolder text-dark">Đánh giá, nhận xét báo cáo</h3>
  </div>

  <div class="card-body pt-0" >
    <div class="mt-4">
      <div class="search-container mt-4">
        <div class="d-flex">


          <div class="select-box me-2 mb-2">
            <select class="form-control custom-width">
              <option value="" disabled selected>Tên đợt</option>
            </select>
            <i class="bi bi-chevron-down select-arrow"></i>
          </div>

        </div>
      </div>

      <table class="table table-striped mt-3 custom-bordered">
        <thead class="custom-header">
          <tr>
            <th style="text-align: center">STT</th>
            <th>Mã sinh viên</th>
            <th>Tên sinh viên</th>
            <th>Mã lớp</th>
            <th>Tên đợt</th>
            <th>Tên đề tài</th>
            <th>Tác vụ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center">1</td>
            <td>11021274</td>
            <td>Hoàng Văn Thuận</td>
            <td>11021274</td>
            <td>đợt 1</td>
            <td>Nguyễn Văn A</td>
            <td>
              <p-dropdown
                [options]="reviewAction"
                optionLabel="name"
                placeholder="Chọn trạng thái"
                [(ngModel)]="selectedAction"
                (onChange)="handleActionChange($event)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-container mt-3">
      <!-- <ngb-pagination
        [collectionSize]="filteredData.length"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination> -->
    </div>
  </div>
</div>

<ng-template #reviewModal let-modal>
  <form #myForm="ngForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Nhận xét, đánh giá báo cáo
      </h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <div class="card mb-5" style="padding: 15px 8%;">
        <div class="form-group w-50 mb-3">
          <label for="" class="form-label">Tên giảng viên</label>
          <input
            type="text"
            id=""
            name=""
            class="form-control"
            placeholder=""
          />
        </div>

        <div class="form-group w-100 mb-3">
          <label for="" class="form-label">Tên đề tài</label>
          <input
            type="text"
            id=""
            name=""
            class="form-control"
            placeholder=""
          />
        </div>

        <div class="d-flex align-items-center gap-4">
          <div class="form-group w-50 mb-3">
            <label for="" class="form-label">Biểu mẫu</label>
            <input
              type="text"
              id=""
              name=""
              class="form-control"
              placeholder=""
            />
          </div>

          <button pButton pRipple class="p-button-primary rounded" style="margin-top: 16px;">Quy trình hướng dẫn</button>
        </div>
      </div>

      <div class="card" style="padding: 10px 5%;">
        <div class="d-flex align-items-center mb-3" style="gap: 35px;">
          <div class="form-group w-25">
            <label for="" class="form-label">Tuần</label>
            <input
              type="text"
              id=""
              name=""
              class="form-control"
              placeholder=""
            />
          </div>

          <div class="form-group w-25">
            <label for="" class="form-label">Từ ngày</label>
            <input
              type="text"
              id=""
              name=""
              class="form-control"
              placeholder=""
            />
          </div>

          <div class="form-group w-25">
            <label for="" class="form-label">Đến ngày</label>
            <input
              type="text"
              id=""
              name=""
              class="form-control"
              placeholder=""
            />
          </div>
        </div>

        <div class="form-group w-100 mb-3">
          <label for="" class="form-label">Công việc</label>
          <input
            type="text"
            id=""
            name=""
            class="form-control"
            placeholder=""
          />
        </div>

        <div class="form-group w-100 mb-3">
          <label for="" class="form-label">Nội dung cần thực hiện</label>
          <input
            type="text"
            id=""
            name=""
            class="form-control"
            placeholder=""
          />
        </div>

        <div class="form-group w-100 mb-3">
          <label for="" class="form-label">Kết quả</label>
          <input
            type="text"
            id=""
            name=""
            class="form-control"
            placeholder=""
          />
        </div>

        <div class="form-group mb-3">
          <label for="templateContent" class="form-label">Nhận xét, đánh giá</label>
          <angular-editor  id="templateContent" [config]="editorConfig"
                          ></angular-editor>
        </div>
      </div>
    </div>

    <!-- <div class="modal-footer">
      <button
        type="reset"
        id="kt_modal_update_customer_cancel"
        class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')"
      >
        Hủy
      </button>

      <button
        type="submit"
        id="kt_modal_update_customer_submit"
        class="btn btn-primary"
      >
        <span class="indicator-label"> Xác nhận </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div> -->
  </form>
</ng-template>
