<div class="card">
  <div class="card-header">
    <h4 class="card-title">Thống kê dữ liệu</h4>
  </div>

  <div class="card-body">

    <div class="filter-button-group">
      <button class="btn btn-primary">7 ngày qua</button>
      <button class="btn btn-primary">1 tháng qua</button>
      <input class="form-control form-control-solid" placeholder="Lọc theo ngày..." style="width: 300px;"  id="kt_daterangepicker_1"/>

    </div>

    <div class="row mb-4">
      <!-- Tổng đơn hàng -->
      <div class="col-4">
        <div class="card overview-card">
          <div class="statistic-overview-header">
            <h5 class="card-title">Tổng số đơn hàng</h5>
          </div>
          <div class="statistic-overview-body">
            <div class="d-flex align-items-center">
              <div class="fw-bold mb-3" style="font-size: 2rem;" data-kt-countup="true" data-kt-countup-value="4500"
                data-kt-countup-prefix="">0</div>
            </div>

            <div class="d-flex align-items-center">
              <span class="svg-icon fs-3 text-success me-2">
                <i class="bi bi-arrow-up-right icon-up-down"></i>
              </span>
              <div class=" fs-6"><span class="fw-semibold fs-6 fw-bold "> -100%</span> so với tuần trước</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Tổng doanh thu -->
      <div class="col-4">
        <div class="card overview-card">
          <div class="statistic-overview-header">
            <h5 class="card-title">Tổng số doanh thu</h5>
          </div>
          <div class="statistic-overview-body">
            <div class="d-flex align-items-center">
              <div class="fw-bold mb-3" style="font-size: 2rem;" data-kt-countup="true"
                data-kt-countup-value="300000000" data-kt-countup-suffix=" VND">0</div>
            </div>

            <div class="d-flex align-items-center">
              <span class="svg-icon fs-3 text-success me-2">
                <i class="bi bi-arrow-up-right icon-up-down"></i>
              </span>
              <div class=" fs-6"><span class="fw-semibold fs-6 fw-bold "> -100%</span> so với tuần trước</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Số đơn hàng -->
      <div class="col-4">
        <div class="card overview-card">
          <div class="statistic-overview-header">
            <h5 class="card-title">Thống kê đơn</h5>
          </div>
          <div class="statistic-overview-body1">
            <div class="d-flex align-items-center">
              <div class="" style="border-right: 1px solid rgba(0, 0, 0, 0.3); padding-right: 10px;">
                <div class="mb-3" style="font-size: 1rem;">
                  <span class="fw-bold mb-3" style="font-size: 2rem;" data-kt-countup="true" data-kt-countup-value="700"
                    data-kt-countup-prefix="">0</span>
                  hoàn thành
                </div>
                <div class="d-flex align-items-center">
                  <span class="svg-icon fs-3 text-success me-2">
                    <i class="bi bi-arrow-up-right icon-up-down"></i>
                  </span>
                  <div class="" style="font-size: 0.9rem;"><span class="fw-semibold fw-bold "
                      style="font-size: 0.9rem;"> -100%</span> so với cùng kỳ</div>
                </div>
              </div>
              <div class="" style="padding-left: 10px;">
                <div class="mb-3" style="font-size: 1rem;">
                  <span class="fw-bold mb-3" style="font-size: 2rem;" data-kt-countup="true" data-kt-countup-value="700"
                    data-kt-countup-prefix="">0</span>
                  chưa hoàn thành
                </div>
                <div class="d-flex align-items-center">
                  <span class="svg-icon fs-3 text-success me-2">
                    <i class="bi bi-arrow-up-right icon-up-down"></i>
                  </span>
                  <div class="" style="font-size: 0.9rem;"><span class="fw-semibold fw-bold "
                      style="font-size: 0.9rem;"> -100%</span> so với cùng kỳ</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Biểu đồ -->
     <div class="d-flex justify-content-between gap-3">
       <div class="card w-50 card-chart">
         <div class="card-body">
             <canvas id="revenueChart"></canvas>
         </div>
       </div>

       <div class="card w-50 card-chart">
        <div class="card-body">
          <canvas id="orderChart" ></canvas>
        </div>
      </div>

     </div>
     <!-- <div class="">
      <canvas id="orderChart" ></canvas>
    </div> -->

  </div>
</div>
