<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bolder text-dark">Danh sách đề tài đồ án</h3>
  </div>

  <div class="card-body pt-0" >
    <div class="mt-4">
      <div class="search-container mt-4">
        <div class="d-flex">
          <div class="input-group me-2 mb-2">
            <input type="text" class="form-control" placeholder="Tên đề tài"/>
            <span class="input-group-text" style="cursor: pointer;">
            <i class="bi bi-search"></i> <!-- Biểu tượng kính lúp -->
            </span>
          </div>


          <div class="select-box me-2 mb-2">
            <select class="form-control custom-width">
              <option value="" disabled selected>Tên đợt</option>
            </select>
            <i class="bi bi-chevron-down select-arrow"></i>
          </div>

          <div class="select-box me-2 mb-2">
            <select class="form-control custom-width">
              <option value="" disabled selected>Năm học áp dụng</option>
              <!-- <option *ngFor="let status of statuses" [value]="status">{{ status }}</option> -->
            </select>
            <i class="bi bi-chevron-down select-arrow"></i>
          </div>
        </div>


        <button type="button" class=" button-add" (click)="onLoadFormRegister()">
          <i class="bi bi-plus icon-add"></i>
          Đề xuất đề tài
        </button>
      </div>

      <table class="table table-striped mt-3 custom-bordered">
        <thead class="custom-header">
          <tr>
            <th style="text-align: center">STT</th>
            <th>Tên đề tài</th>
            <th>Tên giảng viên</th>
            <th>Email</th>
            <th>Số điện thoại</th>
            <th>Mô tả</th>
            <th>Số lượng sinh viên đã đăng ký</th>
            <th>Tác vụ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: center;">1</td>
            <td>đề tài abc</td>
            <td>Vũ Xuân T</td>
            <td>vuxuanthangutehygmail.com</td>
            <td>0987654321</td>
            <td>abcabcabacc</td>
            <td>1/10</td>
            <td>
              <p-dropdown
                [options]="actions"
                optionLabel="name"
                placeholder="Chọn tác vụ"
                [(ngModel)]="selectedAction"
                (onChange)="handleActionChange($event)"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="pagination-container mt-3">
      <!-- <ngb-pagination
        [collectionSize]="filteredData.length"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      ></ngb-pagination> -->
    </div>
  </div>
</div>

<ng-template #viewDetailTemplate let-modal>
  <form #myForm="ngForm">
    <div class="modal-header">
      <div class="modal-title">
        <h4>Xem chi tiết đề tài</h4>
      </div>
    </div>
    <div class="modal-body">
      sdjhvhkfvhfk
    </div>
    <div class="modal-footer">
      <button
        type="reset"
        id="kt_modal_update_customer_cancel"
        class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')"
      >
        Hủy
      </button>

      <button
        type="submit"
        id="kt_modal_update_customer_submit"
        class="btn btn-primary"
      >
        <span class="indicator-label"> Xác nhận </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>

<ng-template #registerProject let-modal>
  <form #myForm="ngForm">
    <div class="modal-header">
      <div class="modal-title">
        <h4>Đăng ký đề tài</h4>
      </div>
    </div>
    <div class="modal-body">
      sdjhvhkfvhfk
    </div>
    <div class="modal-footer">
      <button
        type="reset"
        id="kt_modal_update_customer_cancel"
        class="btn btn-light me-3"
        (click)="modal.dismiss('cancel')"
      >
        Hủy
      </button>

      <button
        type="submit"
        id="kt_modal_update_customer_submit"
        class="btn btn-primary"
      >
        <span class="indicator-label"> Đăng ký </span>
        <span class="indicator-progress">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
      </button>
    </div>
  </form>
</ng-template>
