:host {
  height: 100%;
  margin: 0;

  .flex-root {
    height: 100%;
  }
}

.page-loaded {
  app-layout {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}

.justify-left {
  justify-content: left !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-end {
  justify-content: end !important;
  padding: 15px 20px 0 0;
}
