<!--begin::Form-->



<form class="form w-50" [formGroup]="loginForm" novalidate="novalidate" id="kt_login_signin_form"
  (ngSubmit)="submit()">
  <!--begin::Heading-->
  <div class="text-center mb-11">



    <h3>TRƯỜNG ĐẠI HỌC SƯ PHẠM KỸ THUẬT HƯNG YÊN</h3>

    <h1>HỆ THỐNG QUẢN LÝ ĐỒ ÁN MÔN HỌC</h1>

    <!--begin::Subtitle-->
    <!-- <div class="text-gray-500 fw-semibold fs-6">
      Hệ thống VNPT
    </div> -->
    <!--end::Subtitle--->
    <!--begin::Login options-->
    <div class="row g-3 mb-9">

    </div>
    <!--end::Login options-->
  </div>
  <!--end::Heading-->


  <!-- begin::Alert info-->
  <!-- <ng-container *ngIf="!hasError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <div class="text-info">
        Use account <strong>{{ defaultAuth.username }}</strong> and password
        <strong>{{ defaultAuth.password }}</strong> to continue.
      </div>
    </div>
  </ng-container> -->
  <!-- end::Alert info-->


  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        {{messageError}}
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fs-6 fw-bolder text-gray-900">Email</label>
    <input class="form-control bg-transparent" type="text" name="email" formControlName="email" placeholder="Nhập Email"
           maxlength="320"
      [(ngModel)]="dataEmailLogin" (change)="onInputChange('dataEmailLogin')" autocomplete="off" />
    <span class="text-danger" style="margin-top: 8px; display: block;" *ngIf="isDataEmailInvalid">
      {{errorLoginMessage.dataEmailLogin}}
    </span>

  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-3">

    <label class="form-label fw-bolder text-gray-900 fs-6 mb-0">Mật khẩu</label>

    <input class="form-control bg-transparent" type="password" name="password"
           autocomplete="off" placeholder="Nhập mật khẩu"
           maxlength="20"
      [(ngModel)]="dataPasswordLogin" (change)="onInputChange('dataPasswordLogin')" formControlName="password" />
    <span class="text-danger" style="margin-top: 8px; display: block;" *ngIf="isDataPasswordInvalid">
      {{errorLoginMessage.dataPasswordLogin}}
    </span>

  </div>
  <!--end::Form group-->

  <!--begin::Wrapper-->
  <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
    <div></div>

    <!--begin::Link-->
    <a routerLink="/auth/forgot-password" class="link-primary">
      Quên mật khẩu ?
    </a>
    <!--end::Link-->
  </div>
  <!--end::Wrapper-->
  <!-- reCAPTCHA -->
  <!-- <re-captcha [siteKey]="siteKeyCaptcha" (resolved)="onCaptchaResolved($event)">
  </re-captcha> -->

  <!--begin::Action-->
  <div class="d-grid mb-10">

    <button type="submit" id="kt_sign_in_submit" class="btn btn-primary"
      [disabled]="isDataEmailInvalid || isDataPasswordInvalid">
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-progress" [style.display]="'block'">
          Vui lòng chờ...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
      <ng-container *ngIf="(isLoading$ | async) === false  ">
        <span class="indicator-label">Đăng nhập </span>
      </ng-container>
    </button>

    <!-- <a style="margin-top: 10px" href="{{googleURL}}"
       class="btn btn-flex btn-outline btn-text-gray-700 btn-active-color-primary bg-state-light flex-center text-nowrap w-100">
      <img alt="Logo" src="./assets/media/svg/brand-logos/google-icon.svg" class="h-15px me-3"/>
      Đăng nhập bằng tài khoản Google
    </a> -->

  </div>

  <!--  || !captchaResponse -->

  <div class="text-gray-500 text-center fw-semibold fs-6">
    Chưa có tài khoản?

    <a routerLink="/auth/registration" class="link-primary">
      Đăng ký ngay
    </a>
  </div>

  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
