.step-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

mat-tab-group {
  margin-top: 20px;

  mat-tab-label {
    color: #555;
    font-weight: bold;

    &.mat-tab-label-active {
      color: #007bff;
    }
  }

  .form-group {
    margin-top: 20px;
  }
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.me-2 {
  margin-right: 0.5rem;
}
