<section class="hero-section" [style.background-image]="'url(./assets/media/bg/BG2.png)'">
  <div [ngClass]="{'container': !isLogin}">
    <div class="row align-items-center">
      <!-- Text Content (Left) -->
      <div class="col-md-6" style="padding: 40px 40px 40px 40px;">
        <h1 class="text-primary-gradient">Cung cấp sản phẩm Dữ liệu, ứng dụng và tiện ích AI</h1>
        <p class="mt-3" style="color: #7F8194; font-size: 14px; padding-top: 40px; padding-bottom: 40px;">
          Tìm, dùng thử và mua sản phẩm từ hàng trăm nhà cung cấp Dữ liệu, dịch vụ dữ liệu và AI hàng đầu trên thị
          trường.
        </p>
        <div class="buttons mt-4">
          <button class="btn btn-primary btn-lg me-3" (click)="navigateToListProduct()">Sản phẩm dữ liệu</button>
          <button class="btn btn-outline-secondary btn-lg" [routerLink]="'/auth/registration'" *ngIf="!isLogin">Đăng ký
            dùng thử miễn
            phí</button>
        </div>
      </div>

      <!-- Image Content (Right) -->
      <div style="display: contents">
        <img style="padding-left: 100px;width: 550px;" src="./assets/media/logos/hero-section.png" alt="" height="360"
          width="640" />
      </div>
    </div>
  </div>
</section>

<div class="mt-5" style="margin-left: 10px; justify-content: center" *ngIf="isLogin">
  <div [ngClass]="{'container': !isLogin}">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-text">
          <i class="la la-search"></i>
        </span>
        <input type="text" class="form-control form-control-flush ps-10" name="search" [(ngModel)]="searchTerm"
          (ngModelChange)="onSearch()" placeholder="Tìm kiếm dữ liệu, nhà cung cấp" data-kt-search-element="input"
          style="border: 1px solid antiquewhite" />
      </div>
    </div>
  </div>
</div>

<div class="mt-5" style="margin-left: 10px; justify-content: center">
  <div [ngClass]="{'container': !isLogin}">
    <div class="d-flex flex-wrap flex-stack">
      <h2>Các lĩnh vực nổi bật</h2>
      <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/products" style="cursor: pointer;">
        <span class="menu-title" style="color: #7F8194">Sản phẩm dữ liệu <i class="fas fa-arrow-right"
            style="margin-left: 5px;"></i></span>
      </a>
    </div>
    <!-- <div class="row" *ngIf="responseCategories">
      <div class="col-md-2 mb-4" *ngFor="let category of responseCategories.slice(0, 6)">
        <div class="card text-center shadow-sm" style="max-height: 115px;">
          <div class="card-body" style="cursor: pointer;"
            (click)="navigateToDetail(category.description.category_description_category_id)">
            <img src='{{mediaUrl}}{{ category.description.image }}' alt="" style="max-width: 140px; max-height:60px" />
            <h6 class="mt-3">{{ category?.description?.name ?? '' }}</h6>
          </div>
        </div>
      </div>
    </div> -->
    <div class="slider-wrapper" (wheel)="onWheel($event)">
      <!-- Slider Container -->
      <div class="slider" [style.transform]="'translateX(' + offset + 'px)'">
        <div class="slide" *ngFor="let category of responseCategories">
          <div class="card text-center shadow-sm" style="max-height: 115px;">
            <div class="card-body" style="cursor: pointer;"
              (click)="navigateToDetail(category.description.category_description_category_id)">
              <img src='{{mediaUrl}}{{ category.description.image }}' alt=""
                style="max-width: 140px; max-height:60px" />
              <h6 class="mt-3">{{ category?.description?.name ?? '' }}</h6>
            </div>
          </div>
        </div>
      </div>

      <!-- Navigation Buttons -->
      <button class="btn-prev" (click)="slide(-1)">&#10094;</button>
      <button class="btn-next" (click)="slide(1)">&#10095;</button>
    </div>


  </div>
</div>
<!---Most popular--!-->
<div class="mt-5 pt-8" style="margin-left: 10px; justify-content: center">
  <div [ngClass]="{'container': !isLogin}">
    <div class="d-flex flex-wrap flex-stack mb-6">
      <h2 class="">Dữ liệu nổi bật</h2>
      <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/products" style="cursor: pointer;">
        <span class="menu-title" style="color: #7F8194">Xem thêm <i class="fas fa-arrow-right"
            style="margin-left: 5px;"></i></span>
      </a>

    </div>
    <div class="row" *ngIf="filteredData">
      <div class="col-md-4 mb-4" *ngFor="let item of filteredData" style="cursor: pointer;">
        <label class="btn btn-outline btn-active-light-primary p-7 d-flex align-items-center mb-5"
          for="kt_radio_buttons_2_option_1" (click)="navigateToDetailProduct(item.product_id)">
          <!-- <i class="ki-duotone ki-setting-2 fs-4x me-4"><span class="path1"></span><span class="path2"></span></i> -->
          <img class="fs-4x me-4" src="./assets/media/logos/DEP_icon.ico" style="max-width: 50px;" />
          <span class="d-block fw-semibold text-start">
            <span class="text-gray-900 fw-bold d-block ">{{ item.description?.name }}</span>
            <span class="text-muted fw-semibold fs-6">
              {{ item.description?.short_description }}
            </span>
          </span>
        </label>
      </div>
    </div>
  </div>
</div>

<div *ngFor="let i of responseCategories">
  <div class="mt-5" style="margin-left: 10px; justify-content: center">
    <div [ngClass]="{'container': !isLogin}">
      <div class="d-flex flex-wrap flex-stack mb-6">
        <h2 class="">{{ i.description?.name }}</h2>
        <a class="menu-link py-3" routerLinkActive="active menu-here"
          routerLink="/category/category-detail/{{i.description.category_description_category_id}}"
          style="cursor: pointer;">
          <span class="menu-title" style="color: #7F8194">Xem thêm <i class="fas fa-arrow-right"
              style="margin-left: 5px;"></i></span>
        </a>

      </div>
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let item of i.products" style="cursor: pointer;">
          <label class="btn btn-outline btn-active-light-primary p-7 d-flex align-items-center mb-5"
            for="kt_radio_buttons_2_option_1" (click)="navigateToDetailProduct(item.product_id)">
            <!-- <i class="ki-duotone ki-setting-2 fs-4x me-4"><span class="path1"></span><span class="path2"></span></i> -->
            <img class="fs-4x me-4" src="./assets/media/logos/DEP_icon.ico" style="max-width: 50px;" />
            <span class="d-block fw-semibold text-start">
              <span class="text-gray-900 fw-bold d-block ">{{ item.description?.name }}</span>
              <span class="text-muted fw-semibold fs-6">
                {{ item.description?.short_description }}
              </span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!----END----!-->

<div class="d-flex flex-column align-items-center justify-content-center"
  style="width: 100%; padding-top: 40px; padding-bottom: 40px;">
  <!-- Full-width horizontal line -->
  <div class="horizontal-line" style="margin-bottom: 30px;"></div>

  <!-- Content -->
  <div class="text-center" *ngIf="!isLogin">
    <span class="text-muted fs-4 mt-3">Bạn có muốn xuất bản sản phẩm dữ liệu không?</span>
    <br />
    <button class="btn btn-primary mt-3" (click)="navigateToRegistration()">Trở thành Nhà cung cấp</button>
  </div>
</div>
